.i_wrap{width:100%;padding-top:40px;overflow:hidden}
.i_ul{display:block;padding:0 0 0 14px;left:-10px}
.i_title,#frd_tle{
    width:100%;line-height:18px;font-size:15px;color:#323232;top:0;left:0;z-index:2}
/* title sign */
#index_sec .i_title:before,#frd_tle:before,#item_recommend .i_title:before{
    content:"";
    width:4px;
    height:17px;
    vertical-align:text-bottom;
    background-color:#b61426;
    position:absolute;
    top:14px;
    left:17px;
}
.i_title_p{
    text-indent:12px;
    padding:14px 0;
    margin:0 17px;
}
#top_i_title_p,#friend_i_title_p,#hot_title{
    border-top:none;
}
.i_li_discount{
    background-color:#b80a1e;
    color:#fff;
    height:20px;
    line-height:20px;
    font-size:12px;
    padding:0 10px;
    bottom:81px;
    right:7px;
    z-index:2;
}
.i_li{width:50%;position:relative;margin-bottom:6px; border-left:6px solid transparent;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.i_li a{display:block; padding:7px;background-color:#fff;position:relative}
.i_li img{display:block; width:100%}
.i_li_img_div{top:0;left:0;z-index:1;}
.i_li_img_div_inner{padding:7px; overflow: hidden; }
.i_a{display:block}
.i_txt{font-size:14px;color:#323232;height:36px;line-height:18px;margin:10px 0 6px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical; padding: 0 6px;word-break:break-all}
.i_pri_wrap{
    height:22px;
    overflow:hidden;
}
.i_pri,.i_pri_discount{overflow:hidden;text-overflow:ellipsis; padding: 0px 6px;display:inline-block;max-width:100%}
.i_pri_discount{
    color:#858585;
    text-decoration:line-through;
    font-size:12px
}
.i_title_p_no_border{
    border-top:none
}

/* 分销列表 */
#fxShop {
    border-radius: 0;
    margin:20px;
    display: none;
}
.i_li a.agent {
    display: block;
    text-align: center;
    color: white;
    background: #c60a1e;
    line-height: 40px;
    padding:0;
    margin-bottom:20px;
}
.i_li span.agented {
    display: block;
    text-align: center;
    color: #d93229;
    background: #dcdbdb;
    line-height: 40px;
    padding:0;
    margin-bottom:20px;
}

.i_pri_fx {
    font-size:12px;
    color:#ccc;
}
.i_pri_fx_p {
    font-size: 16px;
    color: #d93229;
}

#index_sec,#item_recommend_wrap,#favo_wrap,#search-content,#item_classes_list_wrap,#search_result_list_wrap,#item_ul_wrap,#market_item_wrap{
    background-color:transparent
}
#plaza_search_i_wrap,#favproduct{
    padding-top:0
}